.ProductList {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ProductList .productHead {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.productHead a {
  padding: 1rem;
  cursor: pointer;
}
.productHead h2 {
  font-size: x-large;
  font-weight: bold;
}
.productHead a:hover {
  color: rgb(187, 142, 27);
  transition: 0.3s;
}

.ProductList .listCon {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
